In [39]:
import pandas as pd

used= [
    "user__id","user__screen_name","user__location","user__description","user__created_at",
    "user__geo_enabled","retweeted_status__truncated","text","entities__hashtags__text"
]
df=pd.read_csv("../data/Zimbabwe_2020-01-22.csv", usecols=used)

In [40]:
df.head(4)

,text,user__id,user__screen_name,user__location,user__description,user__created_at,user__geo_enabled,retweeted_status__truncated
0,RT @thesafarisource: Keep in mind - close to t...,9.098807e+17,WildlingTravels,"New Delhi, India",Travel the World along with us!\nShare Picture...,Mon Sep 18 20:43:55 +0000 2017,False,True
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Keep in mind - close to the Zambezi River in #...,6.118559e+08,thesafarisource,"Bulawayo, Zimbabwe",Follow us for unique Bush Experiences | Tailor...,Mon Jun 18 17:43:05 +0000 2012,True,NaN
3,RT @Zoe_Flood: Nice to see both #Ethiopia and ...,4.745827e+08,luckmoremusoni,Harare Zimbabwe,He who is in me is greater than he who is in t...,Thu Jan 26 04:14:46 +0000 2012,False,True

In [17]:
rs = df.groupby("Engine size")["Sales in thousands"].agg("sum")
categories = list(rs.index)
values = list(rs.values)

In [20]:
values[:5]

[53.48, 21.855, 41.184, 199.685, 365.39599999999996]

In [21]:
categories[:10]

['.', '1', '1.5', '1.6', '1.8', '1.9', '2', '2.2', '2.3', '2.4']

In [23]:
rs[:10]

Engine size
.       53.480
1       21.855
1.5     41.184
1.6    199.685
1.8    365.396
1.9    130.891
2      768.317
2.2    451.974
2.3    271.502
2.4    670.368
Name: Sales in thousands, dtype: float64